// colors
$dark-blue: #172339;
$dark-grey: #49566D;
$light-grey: #F3EDE7;
$off-white: #FAF8F6;
$light-purple: #A060FF;
$pink: #CB30E3;
$orange: #FFA84E;

// reset
*,
*::before,
*::after {
    box-sizing: border-box;
    // scrollbar firefox support
    scrollbar-color: $dark-blue $light-grey;
    scrollbar-width: thin;
}

// base styles
.body {
    margin: 0;
    background-color: $off-white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    position: relative;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: $light-grey;
}

::-webkit-scrollbar-thumb {
    background-color: $dark-blue;
    border-radius: 100vw;
    border: 0.25em solid $light-grey;
}

.container {
    margin-inline: auto;
    width: min(95%, 1110px);

    &--main {
        width: 100%;
    }

    &--accent {
        display: flex;
        width: 100%;
        padding-top: 2em;
        position: relative;
        z-index: 1;
        background-color: $dark-blue;
    }

    &--footer {
        width: max-content;
    }
    
    @media(min-width: 600px) {

        &--main {
            width: min(95%, 1110px);
        }

        &--footer {
            width: min(95%, 1110px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
    }

    @media(min-width: 960px) {

        &--accent {
            z-index: 0;
            width: unset;
            padding-bottom: 9.5em;
        }
    }
}


.flex {
    display: flex;

    &--nav {
        justify-content: space-between;
        align-items: center;

    }

    &--wrapper {
        flex-direction: column;
    }

    &--main {
        flex-direction: column;
    }
    
    &--main-wrapper {
        flex-direction: column;
        align-items: center;
        
    }
    
    @media(min-width: 720px) {
        
        &--wrapper {
            flex-direction: row;
            align-items: center;
        }
    }

    @media(min-width: 960px) {
        
        &--main {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.bold-text {
    font-weight: 700;
}

// nav
.nav {
    padding: 1em 0 3em 0;
}

// hero
.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 27ch;
    transition: all 250ms;

    &__wrapper {
        position: relative;
    }
    
    &__accent {
        width: 16ch;
        margin-left: 15ch;
        transition: all 250ms;
    }

    &__heading {
        font-weight: 400;
        font-size: 2.375rem;
        line-height: 2.75rem;  
        color: $dark-blue;
        margin-top: 0;
        transition: all 250ms;
    }

    &__text {
        color: $dark-grey;
        letter-spacing: 0.09px;
    }

    @media(min-width: 600px) {

        & {
            padding-bottom: 20ch;
        }

        &__accent {
            width: 20ch;
            margin-left: 23ch;
        }

        &__heading {
            font-size: 3.5rem;
            line-height: 4rem;
            letter-spacing: -0.78px;
        }

    }

    @media(min-width: 720px) {

        & {
            padding-top: 8ch;
        }
        
    }

    @media(min-width: 960px) {

        & {
            display: grid;
            grid-template-columns: 75ch 1fr;
            padding-bottom: 55ch;
        }
    }
}

.stats {
    padding-top: 5em;
    padding-bottom: 15em;
    text-align: center;

    &__heading {
        font-weight: 700;
        font-size: 3rem;
        color: $dark-blue;
        line-height: 3.5rem;
        margin-bottom: 0;
    }

    &__text {
        text-transform: uppercase;
        font-size: 1rem;
        color: $dark-grey;
        letter-spacing: 2.5px;
        margin-bottom: 0;
    }

    &__companies &__heading {
        margin-top: 0;
    }

    @media(min-width: 600px) {
        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding-top: 4em;
        }

        &__languages &__heading,
        &__leads &__heading {
            margin-top: 0;
        }
    }

    @media(min-width: 960px) {
        & {
            display: flex;
            flex-direction: column;
            text-align: left;
            justify-content: space-between;
            align-items: center;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

// main
.main {
    position: absolute;
    bottom: 30ch;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 0 1.5em 2em 1.5em;

    &__image-wrapper {
        position: relative;
        min-height: 12em;
    }

    &__accent {
        margin-inline: auto;
        align-self: center;
    }

    &__content {
        text-align: center;
        
    }

    &__heading {
        font-weight: 400;
        font-size: 2.5rem;
        color: $off-white;
    }

    &__quote {
        color: $light-grey;
        max-width: 30ch;
        margin-inline: auto;
    }

    &__sub-heading {
        text-transform: uppercase;
        color: $off-white;
        margin-top: 2em;
        margin-bottom: 0;
    }

    &__sub-text {
        text-transform: uppercase;
        color: $light-grey;
        font-size: 1rem;
        letter-spacing: 2.5px;
        margin-top: 0;
    }

    @media(min-width: 600px) {

        &__quote {
            
            max-width: 45ch;
        }

        & {
            bottom: 20ch
        }
    }

    @media(min-width: 960px) {

        & {
            padding: 0 2em;
        }

        &__image-wrapper {
            min-height: 100%;
            min-width: 40%;
        }

        &__content {
            max-width: 350px;
            text-align: left;
            padding: 5.75em 0;
        }

        &__heading {
            margin-top: 0;
        }

        &__sub-text {
            margin-bottom: 0;
        }
    }
}

// footer
.footer {
    background-color: $light-grey;
    padding-top: 55ch;
    padding-bottom: 3em;
    transition: all 250ms;

    &__logo {
        margin-bottom: 0;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
        margin-top: 0;
        justify-self: end;
    }

    @media(min-width: 960px) {

        & {
            padding-top: 30ch
        }
    }
}

.copyright {
    font-size: 0.9375rem;
    color: $dark-grey;
    margin: 2em 0;
    justify-self: center;
}

// buttons and links
.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.8em 1.5em;
    transition: all 250ms ease-in-out;

    &--nav {
        font-size: 0.875rem;
        color: $dark-blue;
        border: 1px solid $dark-blue;

        &:hover,
        &:focus  {
            background-color: $dark-blue;
            color: $off-white;
        }

        @media(min-width: 600px) {

            & {
                font-size: 1rem;
            }
        }
    }

    &--hero {
        color: $off-white;
        background-color: $dark-blue;
        margin-top: 1em;
        margin-bottom: 3em;

        &:hover,
        &:focus  {
            background-image: linear-gradient(to bottom right, $light-purple, $pink, $orange);
        }
    }
}

// images
.image {
    transition: all 500ms;

    &--hero-landscape {
        max-width: 400px;

        @media(min-width: 420px) {
            
            & {
                align-self: center;
            }
        }
    }

    &--hero-portrait {
        display: none;
    }

    &--jeremy-small {
        position: absolute;
        z-index: 2;
        bottom: 0;
    }

    &--jeremy-large {
        display: none;
    }

    &--blur  {
        z-index: 1;
        position: absolute;
        bottom: -5ch;
        max-width: 32ch;
    }

    &--twitter {
        margin: 0 1.5em;
    }

    &--icon {

        &:hover,                    
        &:focus {
            opacity: 0.5;
        }
    }

    @media(min-width: 720px) {

        &--hero-landscape {
            display: none;
        }

        &--hero-portrait {
            display: block;
            height: 482px;
            position: absolute;
            z-index: -1;
            top: -5ch;
            left: 40ch;
        }
    }

    @media(min-width: 960px) {
        &--hero-portrait {
            height: 600px;
            left: 36ch;
        }

        &--jeremy-small {
            display: none;
        }

        &--jeremy-large {
            display: block;
            position: absolute;
            z-index: 2;
            bottom: 0;
            max-width: 360px;
        }

        &--blur  {
            max-width: 55ch;
            bottom: -10ch;
        }
    }
}