*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: #172339 #F3EDE7;
  scrollbar-width: thin;
}

.body {
  margin: 0;
  background-color: #FAF8F6;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #F3EDE7;
}

::-webkit-scrollbar-thumb {
  background-color: #172339;
  border-radius: 100vw;
  border: 0.25em solid #F3EDE7;
}

.container {
  margin-inline: auto;
  width: min(95%, 1110px);
}
.container--main {
  width: 100%;
}
.container--accent {
  display: flex;
  width: 100%;
  padding-top: 2em;
  position: relative;
  z-index: 1;
  background-color: #172339;
}
.container--footer {
  width: max-content;
}
@media (min-width: 600px) {
  .container--main {
    width: min(95%, 1110px);
  }
  .container--footer {
    width: min(95%, 1110px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .container--accent {
    z-index: 0;
    width: unset;
    padding-bottom: 9.5em;
  }
}

.flex {
  display: flex;
}
.flex--nav {
  justify-content: space-between;
  align-items: center;
}
.flex--wrapper {
  flex-direction: column;
}
.flex--main {
  flex-direction: column;
}
.flex--main-wrapper {
  flex-direction: column;
  align-items: center;
}
.flex--list {
  justify-content: flex-start;
}
@media (min-width: 720px) {
  .flex--wrapper {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .flex--main {
    flex-direction: row;
    justify-content: space-between;
  }
}

.bold-text {
  font-weight: 700;
}

.nav {
  padding: 1em 0 3em 0;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 27ch;
  transition: all 250ms;
}
.hero__wrapper {
  position: relative;
}
.hero__accent {
  width: 16ch;
  margin-left: 15ch;
  transition: all 250ms;
}
.hero__heading {
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 2.75rem;
  color: #172339;
  margin-top: 0;
  transition: all 250ms;
}
.hero__text {
  color: #49566D;
  letter-spacing: 0.09px;
}
@media (min-width: 600px) {
  .hero {
    padding-bottom: 20ch;
  }
  .hero__accent {
    width: 20ch;
    margin-left: 23ch;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.78px;
  }
}
@media (min-width: 720px) {
  .hero {
    padding-top: 8ch;
  }
}
@media (min-width: 960px) {
  .hero {
    display: grid;
    grid-template-columns: 75ch 1fr;
    padding-bottom: 55ch;
  }
}

.stats {
  padding-top: 5em;
  padding-bottom: 15em;
  text-align: center;
}
.stats__heading {
  font-weight: 700;
  font-size: 3rem;
  color: #172339;
  line-height: 3.5rem;
  margin-bottom: 0;
}
.stats__text {
  text-transform: uppercase;
  font-size: 1rem;
  color: #49566D;
  letter-spacing: 2.5px;
  margin-bottom: 0;
}
.stats__companies .stats__heading {
  margin-top: 0;
}
@media (min-width: 600px) {
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 4em;
  }
  .stats__languages .stats__heading, .stats__leads .stats__heading {
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .stats {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.main {
  position: absolute;
  bottom: 30ch;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #172339;
  border-radius: 10px;
  padding: 0 1.5em 2em 1.5em;
}
.main__image-wrapper {
  position: relative;
  min-height: 12em;
}
.main__accent {
  margin-inline: auto;
  align-self: center;
}
.main__content {
  text-align: center;
}
.main__heading {
  font-weight: 400;
  font-size: 2.5rem;
  color: #FAF8F6;
}
.main__quote {
  color: #F3EDE7;
  max-width: 30ch;
  margin-inline: auto;
}
.main__sub-heading {
  text-transform: uppercase;
  color: #FAF8F6;
  margin-top: 2em;
  margin-bottom: 0;
}
.main__sub-text {
  text-transform: uppercase;
  color: #F3EDE7;
  font-size: 1rem;
  letter-spacing: 2.5px;
  margin-top: 0;
}
@media (min-width: 600px) {
  .main__quote {
    max-width: 45ch;
  }
  .main {
    bottom: 20ch;
  }
}
@media (min-width: 960px) {
  .main {
    padding: 0 2em;
  }
  .main__image-wrapper {
    min-height: 100%;
    min-width: 40%;
  }
  .main__content {
    max-width: 350px;
    text-align: left;
    padding: 5.75em 0;
  }
  .main__heading {
    margin-top: 0;
  }
  .main__sub-text {
    margin-bottom: 0;
  }
}

.footer {
  background-color: #F3EDE7;
  padding-top: 55ch;
  padding-bottom: 3em;
  transition: all 250ms;
}
.footer__logo {
  margin-bottom: 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  justify-self: end;
}
@media (min-width: 960px) {
  .footer {
    padding-top: 30ch;
  }
}

.copyright {
  font-size: 0.9375rem;
  color: #49566D;
  margin: 2em 0;
  justify-self: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  transition: all 250ms ease-in-out;
}
.btn--nav {
  font-size: 0.875rem;
  color: #172339;
  border: 1px solid #172339;
}
.btn--nav:hover, .btn--nav:focus {
  background-color: #172339;
  color: #FAF8F6;
}
@media (min-width: 600px) {
  .btn--nav {
    font-size: 1rem;
  }
}
.btn--hero {
  color: #FAF8F6;
  background-color: #172339;
  margin-top: 1em;
  margin-bottom: 3em;
}
.btn--hero:hover, .btn--hero:focus {
  background-image: linear-gradient(to bottom right, #A060FF, #CB30E3, #FFA84E);
}

.image {
  transition: all 500ms;
}
.image--hero-landscape {
  max-width: 400px;
}
@media (min-width: 420px) {
  .image--hero-landscape {
    align-self: center;
  }
}
.image--hero-portrait {
  display: none;
}
.image--jeremy-small {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.image--jeremy-large {
  display: none;
}
.image--blur {
  z-index: 1;
  position: absolute;
  bottom: -5ch;
  max-width: 32ch;
}
.image--twitter {
  margin: 0 1.5em;
}
.image--icon:hover, .image--icon:focus {
  opacity: 0.5;
}
@media (min-width: 720px) {
  .image--hero-landscape {
    display: none;
  }
  .image--hero-portrait {
    display: block;
    height: 482px;
    position: absolute;
    z-index: -1;
    top: -5ch;
    left: 40ch;
  }
}
@media (min-width: 960px) {
  .image--hero-portrait {
    height: 600px;
    left: 36ch;
  }
  .image--jeremy-small {
    display: none;
  }
  .image--jeremy-large {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    max-width: 360px;
  }
  .image--blur {
    max-width: 55ch;
    bottom: -10ch;
  }
}
