*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
  position: relative;
}

.container {
  margin-inline: auto;
  width: min(95%, 1110px);
}
.container--main {
  width: 100%;
}
.container--footer {
  width: max-content;
}
@media (min-width: 600px) {
  .container--main {
    width: min(95%, 1110px);
  }
}

.flex {
  display: flex;
}
.flex--nav {
  justify-content: space-between;
  align-items: center;
}
.flex--hero {
  flex-direction: column;
}
.flex--wrapper {
  flex-direction: column;
}
.flex--main {
  flex-direction: column;
}
.flex--main-wrapper {
  flex-direction: column;
  align-items: center;
}
.flex--list {
  justify-content: flex-start;
}
@media (min-width: 800px) {
  .flex--wrapper {
    flex-direction: row;
    align-items: center;
  }
}

.bold-text {
  font-weight: 700;
}

.nav {
  padding: 1em 0 3em 0;
}

.hero {
  padding-bottom: 25em;
}
.hero__wrapper {
  position: relative;
}
.hero__accent {
  width: 16ch;
  margin-left: 15ch;
  transition: all 250ms;
}
.hero__heading {
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 2.75rem;
  color: #172339;
  margin-top: 0;
  transition: all 250ms;
}
.hero__text {
  color: #49566D;
  letter-spacing: 0.09px;
}
@media (min-width: 600px) {
  .hero__accent {
    width: 20ch;
    margin-left: 23ch;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.78px;
  }
}

.stats {
  padding-top: 5em;
  padding-bottom: 15em;
  text-align: center;
}
.stats__heading {
  font-weight: 700;
  font-size: 4rem;
  color: #172339;
  line-height: 3.5rem;
  margin-bottom: 0;
}
.stats__text {
  text-transform: uppercase;
  font-size: 1rem;
  color: #49566D;
  letter-spacing: 2.5px;
  margin-bottom: 0;
}
.stats__companies .stats__heading {
  margin-top: 0;
}
@media (min-width: 720px) {
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a b c";
    padding-top: 7em;
  }
  .stats__companies {
    grid-area: a;
  }
  .stats__languages {
    grid-area: b;
  }
  .stats__leads {
    grid-area: c;
  }
  .stats__languages .stats__heading, .stats__leads .stats__heading {
    margin-top: 0;
  }
}

.main {
  position: absolute;
  bottom: 16em;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #172339;
  border-radius: 10px;
  padding: 0 1.5em 2em 1.5em;
}
.main__image-wrapper {
  position: relative;
  min-height: 12em;
}
.main__accent {
  align-self: center;
  padding: 2em 0;
}
.main__content {
  text-align: center;
}
.main__heading {
  font-weight: 400;
  font-size: 2.5rem;
  color: #FAF8F6;
}
.main__quote {
  color: #F3EDE7;
}
.main__sub-heading {
  text-transform: uppercase;
  color: #FAF8F6;
  margin-top: 2em;
  margin-bottom: 0;
}
.main__sub-text {
  text-transform: uppercase;
  color: #F3EDE7;
  font-size: 1rem;
  letter-spacing: 2.5px;
  margin-top: 0;
}

.footer {
  background-color: #F3EDE7;
  padding-top: 20em;
  padding-bottom: 3em;
}
.footer__logo {
  margin-bottom: 0;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.copyright {
  font-size: 0.9375rem;
  color: #49566D;
  margin: 2em 0;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  transition: all 250ms ease-in-out;
}
.btn--nav {
  font-size: 0.875rem;
  color: #172339;
  border: 1px solid #172339;
}
.btn--nav:hover, .btn--nav:focus {
  background-color: #172339;
  color: #FAF8F6;
}
@media (min-width: 600px) {
  .btn--nav {
    font-size: 1rem;
  }
}
.btn--hero {
  color: #FAF8F6;
  background-color: #172339;
  margin-top: 1em;
  margin-bottom: 3em;
}
.btn--hero:hover, .btn--hero:focus {
  background-image: linear-gradient(to bottom right, #A060FF, #CB30E3, #FFA84E);
}

.image {
  max-width: 100%;
}
.image--hero-portrait {
  display: none;
}
.image--jeremy {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.image--blur {
  opacity: 0.5;
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 10ch;
}
.image--twitter {
  margin: 0 1.5em;
}
.image--icon:hover, .image--icon:focus {
  opacity: 0.5;
}
@media (min-width: 720px) {
  .image--hero-landscape {
    display: none;
  }
  .image--hero-portrait {
    display: block;
    height: 482px;
    position: absolute;
    z-index: -1;
    left: 39ch;
  }
}
