*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 2rem;
}

.container {
  margin-inline: auto;
  width: 95%;
}
.container--main {
  width: 100%;
}

.flex {
  display: flex;
}
.flex--nav {
  justify-content: space-between;
  align-items: center;
}
.flex--hero {
  flex-direction: column;
}
.flex--wrapper {
  flex-direction: column;
}
.flex--main-wrapper {
  flex-direction: column;
  align-items: center;
}
.flex--footer {
  flex-direction: column;
  align-items: center;
}
.flex--list {
  justify-content: center;
}

.bold-text {
  font-weight: 700;
}

.nav {
  padding: 1em 0;
}

.hero__heading {
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 2.75rem;
  color: #172339;
}
.hero__text {
  color: #49566D;
}

.stats {
  position: relative;
  padding-top: 5em;
  padding-bottom: 15em;
  text-align: center;
  z-index: 1;
}
.stats__companies .stats__heading {
  margin-top: 0;
}
.stats__heading {
  font-weight: 700;
  font-size: 4rem;
  color: #172339;
  line-height: 3.5rem;
  margin-bottom: 0;
}
.stats__text {
  text-transform: uppercase;
  font-size: 1rem;
  color: #49566D;
  letter-spacing: 2.5px;
  margin-bottom: 0;
}

.main {
  background-color: #172339;
  border-radius: 10px;
  color: #FAF8F6;
  padding: 2em 1em;
}
.main__image-wrapper {
  position: relative;
}
.main__content {
  text-align: center;
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  transition: all 250ms ease-in-out;
}
.btn--nav {
  font-size: 0.875rem;
  color: #172339;
  border: 1px solid #172339;
}
.btn--nav:hover, .btn--nav:focus {
  background-color: #172339;
  color: #FAF8F6;
}
.btn--hero {
  color: #FAF8F6;
  background-color: #172339;
  margin-top: 1em;
  margin-bottom: 3em;
}
.btn--hero:hover, .btn--hero:focus {
  background-image: linear-gradient(to bottom right, #A060FF, #CB30E3, #FFA84E);
}

.image {
  max-width: 100%;
}
.image--jeremy {
  position: absolute;
  bottom: 9em;
  z-index: 2;
}
.image--blur {
  opacity: 0.4;
  z-index: 0;
  position: relative;
  bottom: 7em;
}
