/**********************************
    colors
**********************************/
$dark-blue: #172339;
$dark-grey: #49566D;
$light-grey: #F3EDE7;
$off-white: #FAF8F6;
$light-purple: #A060FF;
$pink: #CB30E3;
$orange: #FFA84E;

/**********************************
    reset and scrollbar support
**********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    // firefox support
    scrollbar-color: $dark-blue $light-grey;
    scrollbar-width: thin;
}

/**********************************
    base styles
**********************************/
.body {
    margin: 0;
    background-color: $off-white;
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: $light-grey;
}

::-webkit-scrollbar-thumb {
    background-color: $dark-blue;
    border-radius: 100vw;
    border: 0.25em solid $light-grey;

    &:hover {

        background-color: rgba($dark-blue, 0.85);
    }
}

.container {
    margin-inline: auto;
    width: min(95%, 1110px);

    &--main {
        width: 100%;
    }

    &--accent {
        display: flex;
        width: 100%;
        padding-top: 2em;
        position: relative;
        z-index: 1;
        background-color: $dark-blue;
    }

    &--footer {
        width: max-content;
    }
    
    @media(min-width: 600px) { 

        &--main {
            width: min(95%, 1110px);
        }

        &--footer {
            width: min(95%, 1110px);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
    }

    @media(min-width: 960px) {

        &--accent {
            z-index: 0;
            width: unset;
            bottom: 10ch;
        }
    }
}

.bold-text {
    font-weight: 700;
}

/**********************************
    nav
**********************************/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 3.5rem; 

    @media(min-width: 740px) {
        
        & {
            margin-top: 2.5rem;
            margin-bottom: 7.625rem;
        }
    }

    @media(min-width: 960px) {

        & {
            margin-top: 3.125rem;
        }
    }
}

/**********************************
    hero
**********************************/
.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 55ch;
    transition: all 250ms;

    &__wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: -5;
    }
    
    &__accent {
        width: 14ch;
        margin-left: 14.75ch;
        transition: all 250ms;
    }

    &__heading {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.5rem;  
        color: $dark-blue;
        margin-top: 0;
        transition: all 250ms;
    }

    &__text {
        font-size: inherit;
        color: $dark-grey;
        letter-spacing: 0.09px;
        line-height: 1.75rem;
    }

    @media(min-width: 360px) {

        &__accent {
            width: 17ch;
            margin-left: 17.25ch;
        }

        &__heading {
            font-size: 2.375rem;
            line-height: 2.75rem;
        }

        &__text {
            font-size: inherit;
        }
    }

    @media(min-width: 525px) {

        &__accent {
            width: 24ch;
            margin-left: 25ch;
        }

        &__heading {
            font-size: 3.5rem;
            line-height: 4rem;
            letter-spacing: -0.78px;
        }

    }

    @media(min-width: 960px) {

        &__accent {
            width: 31ch;
            margin-left: 32.5ch;
        }

        &__heading {
            font-size: 4.5rem;
            line-height: 4.875rem;
        }

        &__text {
            font-size: 1.125rem;
            line-height: 2rem;
        }
    }

    @media(min-width: 1050px) {

        & {
            display: grid;
            grid-template-columns: 92.5ch 1fr;
            padding-bottom: 571px;
        }
    }
}

.stats {
    margin-top: 3.5rem;
    text-align: center;

    &__heading {
        font-weight: 700;
        font-size: 3rem;
        color: $dark-blue;
        line-height: 3.5rem;
        margin: 0;
    }

    &__text {
        text-transform: uppercase;
        font-size: 1rem;
        color: $dark-grey;
        line-height: 1.625rem;
        letter-spacing: 2.5px;
        margin: 0;
    }

    &__languages {
        margin: 2rem 0;
    }

    @media(min-width: 600px) {

        & {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 5.5em;
        }

        &__languages {
            margin: 0;
        }

    }

    @media(min-width: 740px) {

        & {
            margin-top: 8.5rem;
        }
    }

    @media(min-width: 960px) {

        & {
            margin-top: 12rem;
        }
    }

    @media(min-width: 1050px) {
        & {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            text-align: left;
            margin-top: 0;
        }
    }
}

/**********************************
    main
**********************************/
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 286px;
    left: 0;
    right: 0;
    margin-inline: auto;
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 0 1rem 4rem 1rem;

    &__image-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        min-height: 24.5ch;
    }

    &__accent {
        margin-inline: auto;
        align-self: center;
    }

    &__content {
        text-align: center;
    }

    &__heading {
        font-weight: 400;
        font-size: 2.5rem;
        color: $off-white;
        line-height: 3rem;
        letter-spacing: -0.42px;
    }

    &__quote {
        font-size: inherit;
        line-height: 2rem;
        color: $light-grey;
        max-width: 31ch;
        margin-inline: auto;
    }

    &__sub-heading {
        text-transform: uppercase;
        color: $off-white;
        font-size: 1.125rem;
        margin-top: 2em;
        margin-bottom: 0;
        line-height: 2rem;
        letter-spacing: -0.18px;
    }

    &__sub-text {
        text-transform: uppercase;
        color: $light-grey;
        font-size: inherit;
        line-height: 1.625rem;
        letter-spacing: 2.5px;
        margin-top: 0;
        margin-bottom: 0;
    }

    @media(min-width: 360px) {

        &__quote {
            font-size: 1.125rem;
        }
    }

    @media(min-width: 600px) {

        &__quote {
            max-width: 45ch;
        }

        & {
            bottom: 176px;
        }
    }

    @media(min-width: 960px) {

        & {
            flex-direction: row;
            justify-content: space-around;
            padding: 0 3rem;
            bottom: 199px;
        }

        &__image-wrapper {
            min-width: 40%;
            align-self: flex-end;
        }

        &__content {
            max-width: 350px;
            text-align: left;
            padding: 5.75em 0;
        }

        &__heading {
            font-size: 3rem;
            margin-top: 0;
        }

        &__quote {
            font-size: 1.25rem;
        }
    }

    @media(min-width: 1150px) {

        & {
            padding: 0 7.8125rem;
        }
    }
}

/**********************************
    footer
**********************************/
.footer {
    background-color: $light-grey;
    padding-top: 63.5ch;
    padding-bottom: 5rem;
    transition: all 250ms;

    &__logo {
        margin-bottom: 0;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-self: end;
    }

    @media(min-width:600px) {
        & {
            padding-bottom: 4.5rem;
        }
    }

    @media(min-width: 960px) {

        & {
            padding-top: 22.5rem;
        }
    }
}

.copyright {
    font-size: 0.9375rem;
    color: $dark-grey;
    margin: 2rem 0;
    justify-self: center;

    @media(min-width: 600px) {
        margin: 0;
    }
}

/**********************************
    buttons and links
**********************************/
.btn {
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.8em 1.5em;
    transition: all 250ms;

    &--nav {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $dark-blue;
        border: 1px solid $dark-blue;
        padding: 0.75rem 1rem;

        &:hover,
        &:focus  {
            background-color: $dark-blue;
            color: $off-white;
        }

        @media(min-width: 740px) {

            & {
                font-size: 1rem;
                padding: 0.75rem 1.5rem;
            }
        }
    }

    &--hero {
        color: $off-white;
        background-color: $dark-blue;
        margin-top: 2rem;
        margin-bottom: 3.5em;
        line-height: 2rem;

        &:hover,
        &:focus  {
            background-image: linear-gradient(to bottom right, $light-purple, $pink, $orange);
        }

        @media(min-width: 740px) {
            & {
                margin-bottom: 0;
            }
        }
    }
}

/**********************************
    images
**********************************/
.image {
    transition: all 500ms;

    &--hero-landscape {
        max-width: 400px;

        @media(min-width: 420px) {
            
            & {
                align-self: center;
            }
        }
    }

    &--hero-portrait {
        display: none;
    }

    &--jeremy-small {
        position: absolute;
        z-index: 2;
        bottom: 0;
    }

    &--jeremy-large {
        display: none;
    }

    &--blur  {
        z-index: 1;
        position: absolute;
        bottom: -5ch;
        max-width: 28ch;

        @media(min-width: 360px) {

            & {
                max-width: 32ch;
            }
        }
    }

    &--twitter {
        margin: 0 1.5em;
    }

    &--icon {

        &:hover,                    
        &:focus {
            opacity: 0.5;
        }
    }

    @media(min-width: 740px) {

        &--hero-landscape {
            display: none;
        }

        &--hero-portrait {
            display: block;
            height: 482px;
            position: absolute;
            z-index: -1;
            top: -5ch;
            left: 45ch;
        }
    }

    @media(min-width: 960px) {

        &--hero-portrait {
            height: 600px;
            left: 52.25ch;
        }

        &--jeremy-small {
            display: none;
        }

        &--jeremy-large {
            display: block;
            position: absolute;
            z-index: 2;
            bottom: 0;
            width: 360px;
        }

        &--blur  {
            max-width: max-content;
            bottom: -9ch;
        }
    }

    @media(min-width: 1150px) {

        &--blur {
            bottom: -9ch;
            right: -8.75ch;
        }
    }
}