/**********************************
    colors
**********************************/
/**********************************
    reset and scrollbar support
**********************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  scrollbar-color: #172339 #F3EDE7;
  scrollbar-width: thin;
}

/**********************************
    base styles
**********************************/
.body {
  margin: 0;
  background-color: #FAF8F6;
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  position: relative;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: #F3EDE7;
}

::-webkit-scrollbar-thumb {
  background-color: #172339;
  border-radius: 100vw;
  border: 0.25em solid #F3EDE7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(23, 35, 57, 0.85);
}

.container {
  margin-inline: auto;
  width: min(95%, 1110px);
}
.container--main {
  width: 100%;
}
.container--accent {
  display: flex;
  width: 100%;
  padding-top: 2em;
  position: relative;
  z-index: 1;
  background-color: #172339;
}
.container--footer {
  width: max-content;
}
@media (min-width: 600px) {
  .container--main {
    width: min(95%, 1110px);
  }
  .container--footer {
    width: min(95%, 1110px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 960px) {
  .container--accent {
    z-index: 0;
    width: unset;
    padding-bottom: 9.5em;
  }
}

.bold-text {
  font-weight: 700;
}

/**********************************
    nav
**********************************/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}
@media (min-width: 740px) {
  .nav {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
  }
}

/**********************************
    hero
**********************************/
.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 55ch;
  transition: all 250ms;
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -5;
}
.hero__accent {
  width: 14ch;
  margin-left: 14.75ch;
  transition: all 250ms;
}
.hero__heading {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #172339;
  margin-top: 0;
  transition: all 250ms;
}
.hero__text {
  font-size: inherit;
  color: #49566D;
  letter-spacing: 0.09px;
  line-height: 1.75rem;
}
@media (min-width: 360px) {
  .hero__accent {
    width: 17ch;
    margin-left: 17.25ch;
  }
  .hero__heading {
    font-size: 2.375rem;
    line-height: 2.75rem;
  }
  .hero__text {
    font-size: inherit;
  }
}
@media (min-width: 525px) {
  .hero__accent {
    width: 24ch;
    margin-left: 25ch;
  }
  .hero__heading {
    font-size: 3.5rem;
    line-height: 4rem;
    letter-spacing: -0.78px;
  }
}
@media (min-width: 740px) {
  .hero {
    padding-top: 3em;
  }
}
@media (min-width: 960px) {
  .hero__accent {
    width: 31ch;
    margin-left: 32.5ch;
  }
  .hero__heading {
    font-size: 4.5rem;
    line-height: 4.875rem;
  }
  .hero__text {
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
@media (min-width: 1120px) {
  .hero {
    display: grid;
    grid-template-columns: 80ch 1fr;
    padding-bottom: 55ch;
  }
}

.stats {
  margin-top: 3.5rem;
  text-align: center;
}
.stats__heading {
  font-weight: 700;
  font-size: 3rem;
  color: #172339;
  line-height: 3.5rem;
  margin: 0;
}
.stats__text {
  text-transform: uppercase;
  font-size: 1rem;
  color: #49566D;
  line-height: 1.625rem;
  letter-spacing: 2.5px;
  margin: 0;
}
.stats__languages {
  margin: 2rem 0;
}
@media (min-width: 600px) {
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5.5em;
  }
  .stats__languages {
    margin: 0;
  }
}
@media (min-width: 960px) {
  .stats {
    padding-top: 7.5em;
  }
}
@media (min-width: 1120px) {
  .stats {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

/**********************************
    main
**********************************/
.main {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 286px;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #172339;
  border-radius: 10px;
  padding: 0 1rem 4rem 1rem;
}
.main__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 24.5ch;
}
.main__accent {
  margin-inline: auto;
  align-self: center;
}
.main__content {
  text-align: center;
}
.main__heading {
  font-weight: 400;
  font-size: 2.5rem;
  color: #FAF8F6;
  line-height: 3rem;
  letter-spacing: -0.42px;
}
.main__quote {
  font-size: inherit;
  line-height: 2rem;
  color: #F3EDE7;
  max-width: 31ch;
  margin-inline: auto;
}
.main__sub-heading {
  text-transform: uppercase;
  color: #FAF8F6;
  font-size: 1.125rem;
  margin-top: 2em;
  margin-bottom: 0;
  line-height: 2rem;
  letter-spacing: -0.18px;
}
.main__sub-text {
  text-transform: uppercase;
  color: #F3EDE7;
  font-size: inherit;
  line-height: 1.625rem;
  letter-spacing: 2.5px;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 360px) {
  .main__quote {
    font-size: 1.125rem;
  }
}
@media (min-width: 600px) {
  .main__quote {
    max-width: 45ch;
  }
  .main {
    bottom: 176px;
  }
}
@media (min-width: 960px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
  }
  .main__image-wrapper {
    min-height: 100%;
    min-width: 40%;
  }
  .main__content {
    max-width: 340px;
    text-align: left;
    padding: 5.75em 0;
  }
  .main__heading {
    margin-top: 0;
  }
}

/**********************************
    footer
**********************************/
.footer {
  background-color: #F3EDE7;
  padding-top: 63.5ch;
  padding-bottom: 5rem;
  transition: all 250ms;
}
.footer__logo {
  margin-bottom: 0;
}
.footer__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}
@media (min-width: 600px) {
  .footer {
    padding-bottom: 4.5rem;
  }
}
@media (min-width: 960px) {
  .footer {
    padding-top: 30ch;
  }
}

.copyright {
  font-size: 0.9375rem;
  color: #49566D;
  margin: 2rem 0;
  justify-self: center;
}
@media (min-width: 600px) {
  .copyright {
    margin: 0;
  }
}

/**********************************
    buttons and links
**********************************/
.btn {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  padding: 0.8em 1.5em;
  transition: all 250ms;
}
.btn--nav {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #172339;
  border: 1px solid #172339;
  padding: 0.75rem 1rem;
}
.btn--nav:hover, .btn--nav:focus {
  background-color: #172339;
  color: #FAF8F6;
}
@media (min-width: 600px) {
  .btn--nav {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
}
.btn--hero {
  color: #FAF8F6;
  background-color: #172339;
  margin-top: 2rem;
  margin-bottom: 3.5em;
  line-height: 2rem;
}
.btn--hero:hover, .btn--hero:focus {
  background-image: linear-gradient(to bottom right, #A060FF, #CB30E3, #FFA84E);
}
@media (min-width: 740px) {
  .btn--hero {
    margin-bottom: 0;
  }
}

/**********************************
    images
**********************************/
.image {
  transition: all 500ms;
}
.image--hero-landscape {
  max-width: 400px;
}
@media (min-width: 420px) {
  .image--hero-landscape {
    align-self: center;
  }
}
.image--hero-portrait {
  display: none;
}
.image--jeremy-small {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.image--jeremy-large {
  display: none;
}
.image--blur {
  z-index: 1;
  position: absolute;
  bottom: -5ch;
  max-width: 28ch;
}
@media (min-width: 360px) {
  .image--blur {
    max-width: 32ch;
  }
}
.image--twitter {
  margin: 0 1.5em;
}
.image--icon:hover, .image--icon:focus {
  opacity: 0.5;
}
@media (min-width: 740px) {
  .image--hero-landscape {
    display: none;
  }
  .image--hero-portrait {
    display: block;
    height: 482px;
    position: absolute;
    z-index: -1;
    top: -5ch;
    left: 45ch;
  }
}
@media (min-width: 960px) {
  .image--hero-portrait {
    height: 600px;
    left: 52.25ch;
  }
  .image--jeremy-small {
    display: none;
  }
  .image--jeremy-large {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 0;
    max-width: 360px;
  }
  .image--blur {
    max-width: 55ch;
    bottom: -10ch;
  }
}
